<%= form_for(@myb_pad_account) do |f| %>
  <% if @myb_pad_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myb_pad_account.errors.count, "error") %> prohibited this myb_pad_account from being saved:</h2>

      <ul>
      <% @myb_pad_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Username %><br>
    <%= f.text_field :Username %>
  </div>
  <div class="field">
    <%= f.label :Password %><br>
    <%= f.text_field :Password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
